client/.pio
client/.vscode
client/build
client/.ycm_extra_conf.py
.vscode
arduino-resource-monitor.code-workspace
server/linux/build
server/windows/.vs
server/windows/bin
server/windows/obj
server/windows/Properties/PublishProfiles/FolderProfile.pubxml.user
